---
tools:
- subcategories: 
  - name: "Slack"
    img:  "slack.png"
    url:  "http://unu.slack.com"
  - name: "Gmail"
    img:  "gmail.png"
    url:  "http://mail.google.com"
  - name: "Drive"
    img:  "drive.png"
    url:  "http://drive.google.com"
  - name: "Calendar"
    img:  "calendar.png"
    url:  "http://calendar.google.com"
  - name: "Personio"
    img:  "personio.png"
    url:  "http://unu.personio.de"
  - name: "Confluence"
    img:  "confluence.png"
    url:  "http://unumotors.atlassian.net"
  - name: "Datev"
    img:  "datev.png"
    url:  "https://secure10.datev.de/an-online"
  - name: "Wrike"
    img:  "wrike.png"
    url:  "http://www.wrike.com"

- name: "daily ops"
  subcategories: 
  - name: "Magento"
    img:  "magento.png"
    url:  "https://unumotors.com/unuisprettysecure"
  - name: "Zendesk"
    img:  "zendesk.png"
    url:  "https://unumotors.zendesk.com/agent/dashboard"
  - name: "Salesforce"
    img:  "salesforce.png"
    url:  "https://login.salesforce.com"
  - name: "Zapier"
    img:  "zapier.png"
    url:  "http://zapier.com"
  - name: "Lever"
    img:  "lever.png"
    url:  "http://hire.lever.co"
  - name: "Placetel"
    img:  "placetel.png"
    url:  "http://app.placetel.de/dashboard"

- name: "marketing"
  subcategories: 
  - name: "Typeform"
    img:  "typeform.png"
    url:  "https://admin.typeform.com"
  - name: "Hootsuite"
    img:  "hootsuite.png"
    url:  "https://hootsuite.com/dashboard"
  - name: "Analytics"
    img:  "gnalytics.png"
    url:  "https://analytics.google.com/analytics/web"
  - name: "Adwords"
    img:  "gdwords.png"
    url:  "https://adwords.google.com/cm/CampaignMgmt?authuser=1&__u=9002428708&__c=6295810228#r.ONLINE&app=cm"
  - name: "Mailchimp"
    img:  "mailchimp.png"
    url:  "https://login.mailchimp.com"

- name: "engineering"
  subcategories: 
  - name: "Github"
    img:  "github.png"
    url:  "http://github.com/unumotors"
  - name: "Gitlab"
    img:  "gitlab.png"
    url:  "http://gitlab.unumotors.com"
  - name: "Trello"
    img:  "trello.png"
    url:  "http://trello.com/unumotors"
  - name: "Deploybot"
    img:  "deploybot.png"
    url:  "http://unudev.deploybot.com"
  - name: "Tutum"
    img:  "tutum.png"
    url:  "http://dashboard.tutum.co"
  - name: "HockeyApp"
    img:  "hockeyapp.png"
    url:  "http://rink.hockeyapp.net/manage/dashboard"
  - name: "ProjectPlace"
    img:  "projectplace.png"
    url:  "http://service.projectplace.com/go"
---
<!doctype html>
<html>
<head>
  <meta name="robots" content="noindex">

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

  <title>unu tools</title>

  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <a href="http://unumotors.com">
    {% include logo.svg %}    
  </a>

  {% for category in page.tools %}

    {% if category.name %}
      <h2>{{ category.name }}</h2>
    {% endif %}

    <section>

      <ul>

        {% for tool in category.subcategories %}

          <li>
            <a href="{{ tool.url }}">
              <div class="image"><img src="/images/icons-assets/{{ tool.img }}" alt="{{ tool.name }}"></div>
              <div class="name">{{ tool.name }}</div>
            </a>
          </li>

        {% endfor %}

      </ul>

    </section>

  {% endfor %}

</body>
</html>
